.wrapper {
    --color-name: #ae72c2;
    margin-top: 50px;
}

.personeName {
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: var(--color-name);
    max-width: 200px;
    text-align: center;
    border-radius: 3px 3px 3px 0px;
    -webkit-border-radius: 3px 3px 3px 0px;
    -moz-border-radius: 3px 3px 3px 0px;
    -ms-border-radius: 3px 3px 3px 0px;
    -o-border-radius: 3px 3px 3px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-left: 6px solid var(--color-name);
    margin-top: -20px;
    border-radius: 3px 3px 3px 0px;
    -webkit-border-radius: 3px 3px 3px 0px;
    -moz-border-radius: 3px 3px 3px 0px;
    -ms-border-radius: 3px 3px 3px 0px;
    -o-border-radius: 3px 3px 3px 0px;
}