.listContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.listItem {
    width: 190px;
    margin: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.listItem a {
    text-decoration: none;
    color: #000;
    text-align: center;
    align-items: center;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
}

.photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top center;
}