.wrapper {
    width: 300px;
    padding:20px;
    margin-left: 30px;
    background-color:rgba(0, 0, 0, .65);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color:white;
}

.container {
    margin:0;
    padding:0;
    list-style-type: none;
}

.item {
    padding:5px;
    margin-bottom:8px;
}

.itemTitle {
    text-decoration: underline;
    text-shadow: 0 0 40px blue;
    color:white;
}